export(align.by.name.list.mx)
export(append.list.mx)
export(append.lists)
export(as.arrayListmx)
export(as.csv.string)
export(as.csv.string.list)
export(as.matrixFromList)
export(as_data_frame_list_as_is)
export(assert)
export(bin)
export(binary.levels.combine)
export(binary.levels.split)
export(c_list)
export(chart.2series.bar.err)
export(chart.bar.err)
export(checkNAs)
export(COL)
export(detachReturn)
export(dimnames_prepend_header)
export(err)
export(error.bar)
export(eval.list)
export(flatten.listmx)
export(flatten.lolmx)
export(flatten.mx)
export(global)
export(globalNamed)
export(incByFactor)
export(is_numeric_scalar)
export(isListOfNulls)
export(labelCols.list)
export(lapply.inner)
export(lapply.inner.combination)
export(lapply.subset)
export(lapply.subset.append)
export(lapply.subset.append.lol.args)
export(mean_list_mx)
export(mem.lx)
export(merge_list_mx.by.rows)
export(meta.add)
export(meta.add.list.varname)
export(namedList)
export(namedMatrix)
export(nsort)
export(prop.table.grpby)
export(readXLSSheet1)
export(redim.mx)
export(remove.cols)
export(remove.NA.cols)
export(remove.rows)
export(rmall)
export(ROW)
export(select.row.list.mx)
export(strip.alpha)
export(strip.alpha.mx)
export(strip.numeric)
export(stripMeta)
export(stripMeta.list)
export(table.grpby)
export(table.grpby.mx.cols)
export(trim)
export(tryerrorMsgs)
export(updatelist)
export(withinfunc)
export(ZDIM)
import(abind)
import(plyr)
import(proto)
import(xlsx)
