export(align.by.name.list.mx)
export(append.list.mx)
export(as.array.listmx)
export(as.matrixFromList)
export(dimnames.prepend.header)
export(flatten.listmx)
export(flatten.lolmx)
export(flatten.mx)
export(namedMatrix)
export(redim.mx)
export(select.row.list.mx)
import(abind)
import(plyr)
import(xlsx)
