export(add_trailing_slash)
export(align.by.name.list.mx)
export(append.list.mx)
export(append.lists)
export(as.csv.string)
export(as.csv.string.list)
export(as.matrixFromList)
export(as_array_list_mx)
export(as_data_frame_list_as_is)
export(assert)
export(bin)
export(binary.levels.combine)
export(binary.levels.split)
export(c_list)
export(chart.2series.bar.err)
export(chart.bar.err)
export(checkModelVars)
export(checkNAs)
export(checkOutcomeVars)
export(COL)
export(collator_confreqs)
export(collator_freqs)
export(collator_histogram)
export(collator_list_mx)
export(collator_means)
export(collator_mutiple_lists_mx)
export(create2CategoryPropensityArray)
export(createAdjustmentMatrices)
export(createAdjustmentMatrix)
export(createOutcomeMatrices)
export(createOutputMatrix)
export(createSingleIterationPropensityArray)
export(detachReturn)
export(Dictionary)
export(dimnames_prepend_header)
export(err)
export(error.bar)
export(eval.list)
export(file_extension)
export(flatten_mx_to_row)
export(flatten_mxlists_to_array)
export(flatten_mxs_to_single_mx)
export(getOutcomeVars)
export(global)
export(globalNamed)
export(identify_zero_category_cols)
export(incByFactor)
export(is.alpha.only)
export(is_numeric_scalar)
export(isListOfNulls)
export(label_flattened_mx)
export(labelCols.list)
export(lapply.args.as.list)
export(lapply.inner)
export(lapply.subset)
export(lapply.subset.append)
export(lapply.subset.append.lol.args)
export(loadGLMCSV)
export(loadGLMXLS)
export(loadMergedFile)
export(loadSimFrame)
export(lzip)
export(lzipper)
export(mean_array_z)
export(mean_list_mx)
export(mem.lx)
export(merge_list_mx.by.rows)
export(mergeAndRemoveKeyColumn)
export(meta.add)
export(meta.add.list.varname)
export(model_coefs_names_unique)
export(modelVariableCoefs)
export(modelVariableNames)
export(namedList)
export(namedMatrix)
export(nsort)
export(percentages_flattened_mx)
export(predict)
export(predSimBin)
export(predSimBinom)
export(predSimNBinom)
export(predSimNorm)
export(predSimPois)
export(prop.table.grpby)
export(prop.table.mx.grped.rows)
export(quantile_mx_cols)
export(read_csv)
export(read_file)
export(readXLSSheet1)
export(redim.mx)
export(remove.cols)
export(remove.cols.named)
export(remove.elements)
export(remove.NA.cols)
export(remove.rows.named)
export(remove.zero.cols)
export(remove.zero.rows)
export(remove_rows_by_index)
export(rmall)
export(ROW)
export(select.row.list.mx)
export(Simenv)
export(Simmodule)
export(strip.alpha)
export(strip.alpha.mx)
export(strip.numeric)
export(stripMeta)
export(stripMeta.list)
export(summary_mx_cols)
export(table.grpby)
export(table_mx_cols)
export(trim)
export(tryerrorMsgs)
export(updatelist)
export(withinfunc)
export(wtdmeancols)
export(ZDIM)
import(abind)
import(plyr)
import(proto)
import(xlsx)
